</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="white-links mb-2">
            <div class="col1">
                <h3 class="heading">
                  Site Map
                </h3>
                <ul>
                  <li>
                    <a href="/">
                      Home
                    </a>
                  </li>
                  <li>
                    <a href="/products/">
                      All Products
                    </a>
                  </li>
                  <li>
                    <a href="/pages/contact-us">
                      Contact Us
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      Search the Store
                    </a>
                  </li>
                </ul>
              </div>
          </div>
              

    <div class="white-links mb-2">
        <div class="col2">
            <h3 class="heading2">
              Terms of Use
            </h3>
            <div class="">
            <ul>
                <li>
                  <a href="/pages/privacy">Privacy Policy</a>
                </li>
                <li>
                    <a href="/pages/tandc">Terms & Conditions</a>
                </li>
            </ul>
            </div>
          </div>
    </div>
      
  </section>
  
  <section class="bottom-footer">
    <div class="">
    <div class="col-12 mr-auto">
      © Xee's Grocery, All rights reserved.
    </div>
   </div>
  </section>

</footer>
</div>

<script src="/javascripts/main.js"></script>
<script src="/javascripts/reviews.js"></script>
</body>
</html>
